@charset "utf-8";

/* reset */
html, body {font-size:10px;}
body{font-family: "맑은고딕", Malgun Gothic, 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;font-weight:400;color:#111;letter-spacing:-0.5px;line-height:1.4;-webkit-text-size-adjust:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;box-sizing:border-box;-webkit-box-sizing:border-box;word-break:keep-all;word-wrap:break-word;white-space:normal;/*font-family:inherit;*/}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul, li{list-style:none}
table{width:100%;border-collapse:collapse;border-spacing:0;}
img{max-width:100%;border:0;vertical-align:top;}
i, em, address{font-style:normal;}
strong, b{font-weight:700;}
sup{font-size:10px;line-height:1;}
form, fieldset{display:block;border:0;}
iframe{border:0;}
caption, legend{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
input, textarea{opacity:1;-webkit-text-fill-color:inherit;}
input, textarea, select{margin:0;padding:0;font-family:inherit;font-size:16px;font-weight:400;color:#111;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:normal;-webkit-appearance:none;appearance:none;outline:none;}
textarea, select{outline:none;}
select::-ms-expand{display:none;}
select:disabled{pointer-events:none;}

button{overflow:visible;display:inline-block;margin:0;padding:0;border:0;border-radius:0;background:none;font-family:inherit;font-size:16px;font-weight:400;color:var(--point);line-height:inherit;vertical-align:top;text-decoration:none;cursor:pointer;touch-action:manipulation;}
button::-moz-focus-inner{padding:0;border:0;}
button span,
button:after{position:relative;}
button[disabled], a.disabled{cursor:default;pointer-events:none;}

/* link */
a{display:inline-block;color:inherit;text-decoration:none;word-break:break-all;cursor:pointer;}
a:link,
a:visited,
a:active,
a:focus{text-decoration:none;}
a:hover{text-decoration:none;}

.underline{text-decoration:underline;}

.ellipsis{overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;}
.blind{overflow:hidden;position:absolute;left:-9999em;width:0;height:0;margin:0;padding:0;text-indent:-9999em;}

/* float */
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
.clear{clear:both;}

/* text align */
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}

/* common */
:root{
	/* --vh:100vh; */
	--point : #267DFF;
}


/************************* Form *************************/
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"]{padding:0 12px;width:100%;height:32px;font-size:12px;font-weight:500;border:1px solid #DCE0E5;border-radius:4px;background-color:#fff;color:#111;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="search"]:disabled{background-color:#E7EBEE;opacity:1;color:#7F8A94;cursor:default;-webkit-tap-highlight-color:transparent;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus{border-color:#333;}
input[type="file"]::-webkit-file-upload-button{cursor:pointer;}

input[disabled],
input[disabled] + label{cursor:default;pointer-events:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto;}

input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal,
input[type="tel"]::-ms-clear,
input[type="tel"]::-ms-reveal,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal{display:none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}

::-webkit-input-placeholder{color:#7F8A94;font-size:12px;font-weight:500;}
::-moz-placeholder{color:#7F8A94;font-size:12px;font-weight:500;}
:-ms-input-placeholder{color:#7F8A94;font-size:12px;font-weight:500;}
:-moz-placeholder{color:#7F8A94;font-size:12px;font-weight:500;}

::before, ::after {box-sizing: border-box;}

select{position: relative;display: inline-block;position: relative;height:32px;padding:0 36px 0 12px;vertical-align: middle;font-size:12px;-webkit-appearance: none;appearance: none;border:1px solid #DCE0E5;border-radius:4px;background:#fff url('../images/ico_select.png') right 8px center no-repeat;min-width:140px;}
select::-ms-expand{display: none; /* IE 10, 11 */}
select:disabled{border-color:#ccc;background-color:#f7f7f7;/* opacity:0.5; */}

button{overflow:visible;display:inline-block;margin:0;padding:0;border:0;border-radius:0;background:none;font-family:inherit;font-size:16px;font-weight:400;color: #111;line-height:inherit;vertical-align:top;text-decoration:none;cursor:pointer;touch-action:manipulation;}
button::-moz-focus-inner{padding:0;border:0;}
button span,
button:after{position:relative;}
button[disabled], a.disabled{cursor:default;pointer-events:none;}

/*table*/
table{width: 100%;border-collapse: collapse;border-spacing: 0;background-color: #fff;}
.table table{table-layout:fixed;}
.table tbody tr{border-bottom:1px solid #E7EBEE;}
.table th,.table td{height:40px;padding:4px 0;color:#213A56;vertical-align:middle;word-break:break-word;font-size:12px;font-weight:500;}
.table th{text-align:left}

/*button*/
.btn{display:inline-flex;position:relative;align-items:center;justify-content:center;width:auto;min-width:60px;height:32px;padding:0 12px;line-height:12px;font-size:12px;font-weight:500;border:1px solid transparent;text-align:center;border-radius:4px;}/* h32 */
.btn.big{height:40px;line-height:16px;font-size:14px;font-weight:600;min-width:120px;}/*h40*/
.btn.small{height:24px;min-width:37px;}/*h24*/

/* button : bgcolor */
.bctype1{background-color:var(--point);border-color:var(--point);color:#fff;}
.bctype2{background-color:#fff;border-color:var(--point);color:var(--point);}

/*btn_ico*/
.btn_ico{display: inline-flex;width:16px;height:16px;background: url('') no-repeat center center / 16px auto;}
.btn_ico.search{background-image: url('../images/ico_search.svg');}
.btn_ico.calendar{background-image: url('../images/ico_calendar.svg');width:24px;height:24px;}
.btn_ico.delete{background-image: url('../images/ico_delete.svg');width:24px;height:24px;}

.inputbox{position: relative;}
.inputbox .txt_fix{position:absolute;top: 50%;right: 12px;transform: translateY(-50%);}
.inputbox.search input{padding-right:40px;}
.inputbox.search .btn_ico.search{position: absolute;right:12px;top:8px;}
.input_date{display:flex;align-items:center;}
.input_date .btn_ico{margin-left:4px;}

/*checkbox*/
.checkbox{display: inline-block;position: relative;line-height: 1;}
.checkbox input[type="checkbox"]{overflow:hidden;position:absolute;left:0;top:0;width:16px;height:16px;margin:0;padding:0;border:0 none;opacity:0;}
.checkbox label{display:inline-block;position:relative;padding-left:24px;font-size:12px;line-height:16px;color:#111;vertical-align:top;word-break:break-all;cursor:pointer;background-color:#fff;}
.checkbox label:before{content:'';display:inline-block;position:absolute;left:0;top:0;width:16px;height:16px;border:1px solid #DCE0E5;border-radius:2px}
.checkbox input[type="checkbox"]:checked + label:before{border-color:var(--point);background:var(--point) url('../images/ico_checkbox.svg') no-repeat center;}
.checkbox label > span{display:inline-block;font-size:inherit;word-break:inherit;}
.checkbox input[type="checkbox"]:disabled+label:before{border-color:#bdc5d3;background:#e7eaef;}
.checkbox input[type="checkbox"].readonly+label:before{border-color:#bdc5d3;background:url('../../images/sp/common/ico-readonly.png') no-repeat 0 0 #e7eaef;}
.checkbox input[type="checkbox"]:disabled+label,.checkbox input[type="checkbox"].readonly+label{color:#727272;}
.checkbox_list,.radio_list{display:flex;}
.checkbox_list .checkbox+.checkbox{margin-left:20px;}


/*radio*/
.radio{display: inline-block;position: relative;line-height: 1;}
.radio input[type="radio"]{overflow:hidden;position:absolute;left:0;top:0;width:16px;height:16px;margin:0;padding:0;border:0 none;opacity:0;}
.radio label{display:inline-block;position:relative;padding-left:24px;font-size:12px;line-height:16px;color:#111;vertical-align:top;word-break:break-all;cursor:pointer;}
.radio label:before{content:'';display:inline-block;position:absolute;left:0;top:0;width:16px;height:16px;border:1px solid #DCE0E5;background-color:#fff;border-radius: 50%;}
.radio input[type="radio"]:checked+label:before{border-color:var(--point);background-color:var(--point);}
.radio input[type="radio"]:checked+label:after, .radio input[type="radio"].readonly+label:after{content: '';display: inline-block;position: absolute;top:5px;left:5px;width:6px;height: 6px;border-radius: 50%;background: #fff;}
.radio label > span{display:inline-block;font-size:inherit;word-break:inherit;}
.radio input[type="radio"].readonly+label:before{border-color:#bdc5d3;background:#e7eaef;}
.radio input[type="radio"].readonly+label:after{background:#8992a0;}
.radio input[type="radio"].readonly+label,.radio input[type="radio"]:disabled+label{color:#727272;}
.radio input[type="radio"]:disabled+label:before{border-color:#bdc5d3;background:#e7eaef;}
.radio_list .radio+.radio{margin-left:20px;}


/*date*/
.input_date .date{position: relative;display: inline-block;}
.input_date .date input{width:92px;}
.input_date .dash{display: inline-block;padding: 0 4px;color:#213A56;font-size:12px;font-weight:600;}
.inputbox+.inputbox{margin-top:8px}

/*tooltip layer*/
.tooltip_layer {position: absolute;right: 0;margin-top: 8px;z-index: 1;width: max-content;border: 1px solid #DCE0E5;border-radius: 4px;background-color: #fff;opacity: 0;transition: all 0.5s ease;}
.tooltip_layer .btns .btn {display: block;width: 100%;padding: 0 11px;font-size: 12px;text-align: left;line-height: 31px;border-radius: 0;border: none;letter-spacing: -1px;}
.tooltip_layer .btns .btn + .btn {border-top: 1px solid #DCE0E5;}
.tooltip_layer_wrap {position: relative;overflow: hidden;}
.tooltip_layer_wrap.active {overflow: initial;}
.tooltip_layer_wrap.active .tooltip_layer {opacity: 1;}

/*tab*/
.tab .tab_menu{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width: 100%;}
.tab .tab_menu li{margin-right:4px;}
.tab .tab_menu li a{display: block;width: 100%;height: 36px;padding: 0 16px;border-radius:12px 12px 0 0;background-color: #E7EBEE;color: #111;font-size: 14px;font-weight:700;text-align: center;line-height:36px;}
.tab .tab_menu li.active a{background-color:#fff;}

/***********************************************************************
Layout
***********************************************************************/
::-webkit-scrollbar{width:12px;height:12px;}
::-webkit-scrollbar-track{background-color: transparent;}
::-webkit-scrollbar-thumb{background-color:#DCE0E5;border-radius:10px;border: 2px solid #fff;}
.wrap {height: 100vh;min-width: 1600px;overflow-x: auto;}
.wrap.scroll_x {height: calc(100vh - 12px);}

/* header */
.header {position: absolute;top:0;left:0;width: 100%;min-width: 1600px;border-bottom: 1px solid #E7EBEE;z-index: 1;}
.header_top {position: relative;display: flex;height: 64px;justify-content: space-between;align-items: center;padding: 0 32px 0 24px;}
.header_top .logo {width: 137px;height: 27px;margin-right: 141px;}
.header_item {display: flex;align-items: center;}
.header_item .item {display: flex;align-items: center;}
.header_item .item [class*="ico_"] {display: block;position: relative;width: 20px;height: 20px;margin-right: 4px;background: no-repeat 0 0 / contain;}
.header_item .item .ico_noti {background-image: url("../images/ico_noti.svg");}
.header_item .item .ico_doc {background-image: url("../images/ico_doc.svg");}
.header_item .item .ico_voc {background-image: url("../images/ico_voc.svg");}
.header_item .item .ico_time {background-image: url("../images/ico_time.svg");}
.header_item .item .ico_user {background-image: url("../images/ico_user.svg");}
.header_item .item .txt {font-size: 14px;font-weight: bold;}
.header_item .utils {display: flex;gap: 20px;}
.header_item .utils .item .cnt {display: inline-flex;justify-content: center;align-items: center;min-width: 20px;height: 20px;margin-left: 5px;padding: 0 6px;border-radius: 10px;background-color: #E9F2FF;color: var(--point);font-size: 12px;font-weight: bold;}
.header_item .sorting {display: flex;gap: 4px;margin-left: 20px;}
.header_item .sorting select {width: 140px;}
.header_item.time_area {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.header_item.time_area .item .txt {font-weight: normal;}
.header_item.time_area .item .txt .time {font-weight: bold;}


/* gnb */
.gnb_wrap {position: relative;overflow: hidden;background-color: #fff;border-top: 1px solid #E7EBEE;transition: all 0.5s ease;}
.gnb_wrap .inputbox.search {position: absolute;top: 11px;left: 24px;width: 212px;}
.gnb_wrap nav {height: 100%;}
.gnb_wrap .menu_list {display: flex;justify-content: center;gap: 60px;height: 100%;}
.gnb_wrap .menu_list > li > a {display: block;font-size: 16px;font-weight: bold;line-height: 53px;text-align: center;}
.gnb_wrap .menu_list > li.on > a {color: var(--point);}
.gnb_wrap .gnb_depth2 {padding: 5px 0 30px;}
.gnb_wrap .gnb_depth2 > li > a {display: block;font-size: 16px;color: #525960;text-align: center;line-height: 36px;}
.gnb_wrap .btn_allmenu {position: absolute;top: 17px;right: 32px;width: 20px;height: 20px;background: url("../images/ico_allmenu.svg") no-repeat center center / contain;}
.gnb_wrap hr {position: absolute;top: 53px;left: 0;width: 100%;height: 1px;padding: 0;margin: 0;background-color: #E7EBEE;box-shadow: none;border: none;}
.gnb_wrap.active .btn_allmenu {background-image: url("../images/ico_close_20.svg");}

/* container */
.container {position: relative;overflow-y: hidden; display: flex;height: calc(100vh - 118px);margin-top: 118px;}
.container .contents {flex: 1;padding: 21px 32px 40px;background-color: #F3F5F6;}
.container .contents iframe {overflow-y: auto;width: 100%;height: 100%;}
.wrap.scroll_x .container {height: calc(100vh - 130px);}

/* aside */
.aside {position: relative;flex-shrink: 0;display: flex;flex-direction: column;width: 260px;margin-left: -260px;border-right: 1px solid #E7EBEE;transition: all 0.5s ease;}
.aside .aside_cont {flex: 1;overflow-y: auto;margin-top: 24px;padding-bottom: 24px;}
.aside .aside_cont h2 {padding: 0 24px;font-size: 12px;font-weight: bold;color: #525960;line-height: 32px;}
.aside .btn_handler {position: absolute;top: 50%;left: 100%;transform: translateY(-50%);width: 20px;height: 80px;background-color: var(--point);border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.aside .btn_handler::before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 16px;height: 16px;background: url("../images/ico_arrowright_16.svg") no-repeat center center / contain;}
.aside.active {margin-left: 0;}
.aside.active .btn_handler::before {background-image: url("../images/ico_arrowleft_16.svg");}

/* aside - lnb */
.aside .lnb_menu > li {position: relative;}
.aside .lnb_menu > li::before {content: "";position: absolute;top: 0;left: 0;width: 2px;height: 36px;border-radius: 2px;}
.aside .lnb_menu > li .btn_menu {position: relative;width: 100%;padding: 0 24px;font-size: 14px;line-height: 36px;text-align: left;}
.aside .lnb_menu > li > .btn_menu {font-weight: bold;}
.aside .lnb_menu .has_sub {overflow: hidden;height: 36px;transition: 0.4s;}
.aside .lnb_menu .has_sub > .btn_menu::after {content: "";position: absolute;top: 50%;right: 24px;transform: translateY(-50%);width: 16px;height: 16px;background: url("../images/ico_arrowdown_16.svg") no-repeat center center / contain;transition: 0.4s ease;}
.aside .lnb_menu .lnb_depth3 {opacity: 0;}
.aside .lnb_menu .lnb_depth3 > li .btn_menu {padding-left: 40px;color: #213A56;}
.aside .lnb_menu .lnb_depth3 > li .btn_menu::before {content: "";position: absolute;top: 50%;left: 24px;transform: translateY(-50%);width: 8px;height: 8px;margin-top: -5px;background: url("../images/ico_depth2.svg") no-repeat 0 0 / contain;}
.aside .lnb_menu .lnb_depth3 > li.on {background-color: #E9F2FF;}
.aside .lnb_menu > li.on::before {background-color: var(--point);}
.aside .lnb_menu > li.on > .btn_menu {color: var(--point);}
.aside .lnb_menu > li.on.has_sub > .btn_menu::after {background-image: url("../images/ico_arrowdown_16_active.svg");}
.aside .lnb_menu > li.open.has_sub > .btn_menu::after {transform: translateY(-50%) rotate(180deg);}
.aside .lnb_menu .has_sub.open .lnb_depth3 {opacity: 1;}
/* .aside .lnb_menu .tooltip_layer_wrap .tooltip_layer {top: 50%;right: 12px;margin-top: 0;} */
.aside .lnb_menu_wrap {position: relative;overflow: hidden;}
.aside .lnb_menu_wrap .tooltip_layer {top: 50%;right: 12px;margin-top: 0;}
.aside .lnb_menu_wrap > .tooltip_layer {display: none;}

/* aside - bookmark */
.aside .bookmark {overflow: hidden;height: 48px;margin-top: auto;padding: 8px 0;border-top: 1px solid #E7EBEE;transition: all 0.5s ease;}
.aside .bookmark .tit {line-height: 32px;}
.aside .bookmark .btn_bookmark {position: relative;width: 100%;padding: 0 24px;font-size: 12px;color: #525960;font-weight: bold;line-height: 32px;text-align: left;}
.aside .bookmark .btn_bookmark::after {content: "";position: absolute;top: 50%;right: 24px;transform: translateY(-50%);width: 16px;height: 16px;background: url("../images/ico_arrowdown_16.svg") no-repeat center center / contain;}
.aside .bookmark_list_wrap {overflow: hidden;position: relative;opacity: 0;transition: all 0.5s ease;overflow-y: auto;max-height: 230px;padding-bottom: 10px;}
.aside .bookmark_list::-webkit-scrollbar{width:10px;height:8px;}
.aside .bookmark_list::-webkit-scrollbar-track{background-color: transparent;}
.aside .bookmark_list::-webkit-scrollbar-thumb{background-color:#DCE0E5;border-radius:5px;border: 2px solid #fff;}
.aside .bookmark_list > li {padding: 0 24px;}
.aside .bookmark_list > li > a {position: relative;display: block;width: 100%;padding-left: 22px;line-height: 36px;font-size: 14px;font-weight: bold;}
.aside .bookmark_list > li > a::before {content: "";position: absolute;top: 50%;left: 0;transform: translateY(-50%);width: 16px;height: 16px;background: url("../images/ico_star_16.svg") no-repeat center center / contain;}
.aside .bookmark.active {padding: 16px 0 0;}
.aside .bookmark.active .btn_bookmark::after {transform: translateY(-50%) rotate(180deg);}
.aside .bookmark.active .bookmark_list_wrap {opacity: 1;}
.aside .bookmark.shadow::after {content: "";position: absolute;bottom: 0;left: 0;width: calc(100% - 10px);height: 20px;background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.8) 100%);}