@charset "utf-8";
:root{
    --point : #267DFF;
}

/*title*/
.bdr{display: flex;align-items: center;gap: 8px;border-bottom:1px solid #E7EBEE;margin-bottom:12px;}
.title h2{font-size:16px;font-weight:600;padding:10px 0;}
.title h2 strong{color:var(--point);}
.title p{font-size:12px;font-weight:500;color:#213A56}
.tit_wrap{display:flex;align-items:center;justify-content:space-between;}
.tit_wrap .tit_area,.tit_wrap .btn_area{display:inline-flex;column-gap:8px;align-items:center;}


/*login*/
.login .container{position:relative;background:url('../images/login_bg.png') no-repeat;background-size:cover;display: flex;align-items: center;height:100%;margin-top:0;min-height: 900px;}
.login .container::before{content:'';position:absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);}
.login_wrapper{width:850px;margin:0 auto;padding: 100px 0;z-index: 1;}
.login_logo{text-align: center;margin-bottom:32px;}
.login_area{display:flex;column-gap:32px;padding:64px;background:#fff;}
.login_area .log_img{width:390px;}
.log_area{display:flex;flex-direction:column;justify-content: space-between;width:calc(100% - 422px);}
.log_area .heading_area{margin-bottom:32px;}
.log_area .heading_area .tit{font-size:24px;font-weight:700;line-height: 1;}
.log_area .form .radio_list input{color:#213A56;}
.log_area .form .input_list{margin:16px 0}
.log_area .form .login_etc{display:flex;align-items:center;justify-content:space-between;}
.log_area .form .login_etc .find_wrap{display:flex;column-gap:12px;}
.log_area .form .login_etc .find_wrap li a{font-size:12px;color:var(--point);text-decoration:underline;}
.btn_login_wrap .btn{width:100%;}
.function_wrap{margin-top:32px;}
.function_wrap .btn{width:100%;}
.function_wrap .form_item{display:flex;align-items:center;margin-top:8px;gap:12px;justify-content: space-between;}
.function_wrap .form_item .form_label{font-size:12px;font-weight:700;color:#213A56;}
.function_wrap .form_item .form_control{display:flex;align-items:center;gap:4px;}
.function_wrap .form_item .form_control .inputbox input{width:170px;}
.function_wrap .form_item .form_control .btn{padding:0px 5px;width: 90px;}
.function_wrap .time_area{font-size:12px;font-weight:500;color:var(--point);}


/*main*/
.period{display:flex;align-items:center;column-gap: 12px;}
.period .radio_list{display:flex;align-items:center;column-gap:4px;margin-left: 20px;}
.range {display: inline-block;position: relative;line-height: 1;}
.range input{position: absolute;left: -9999px;}
.range label{display: inline-block;min-width:80px;border:1px solid #DCE0E5;border-radius:4px;padding:9px 12px;box-sizing: border-box;text-align:center;font-weight: 400;vertical-align: top;word-break: break-all;cursor: pointer;}
.range input:checked+label{background: #E9F2FF;color: var(--point);border-color:var(--point);}
.range input:disabled+label{color:#7F8A94;background-color:#E7EBEE;}



.required{display: inline-block;margin-left: 4px;color: #FF4C4C;}

.sort_wrap{display:flex;align-items:center;justify-content:space-between;margin-bottom:12px;}
.sort_wrap .btn_area{display:flex;align-items:center;gap:4px;}
.sort_wrap .btn_area select{margin-left:8px;}

.form_control{display:flex;align-items:center;flex-wrap:nowrap;gap:4px;}
.form_control.tel input{width:77px;}
.form_control .inputbox+.inputbox{margin-top:0;}



.wrap.frame{min-width:initial;}
.wrap.frame .container{overflow-y:initial;margin-top:0;height:auto;flex-direction: column;}
.section{padding:32px 32px 40px 32px;background: #Fff;}
.section + .section{margin-top:12px;}
/*.table .inputbox{width:calc(100% - 295px);}
.table .form_control .inputbox{width:auto;}*/
.table .row_hide{display: none;}
.table .row_hide.show{display: table-row;}

.btn_wrap{margin-top:24px;display:flex;align-items:center;justify-content:center;gap:4px;}
.btn_acdion{position: relative;font-size:12px;font-weight:400;padding-right:20px;}
.btn_acdion::after{content: ""; position: absolute;top: 50%;right:0;transform: translateY(-50%);width: 16px;height: 16px;background: url('../images/ico_arrowdown_16.svg') no-repeat center center / contain;transition: 0.4s ease;}
.btn_acdion.active::after{transform: translateY(-50%) rotate(180deg);}
.btn_acdion.hide{display: none;}



.area_wrap{display:flex;gap:20px;;}
.area_left{width:390px;}
.area_right{flex:1;}
.area_wrap .section{height:100%;}


/*window popup*/
.win_popup{background-color:#F3F5F6;padding:32px 32px 40px 32px;}
.win_header .tit_win{font-size:16px;font-weight:700;line-height:19px;margin-bottom:20px;}
.win_cont .tab .tab_cont,
.win_box{padding:32px 32px 40px 32px;background-color:#fff;border-radius:12px;}
.win_cont .tab .tab_cont{border-radius:0 0 12px 12px;}
.win_sec+.win_sec{margin-top:24px;}
.win_sec .win_area{display:flex;gap:12px;}
.win_area .profile_img{overflow: hidden;width:120px;height:160px;background: url('../images/img_profile.png') no-repeat center center / 100% auto;}
.win_area .profile_img img{width: 100%;height: 100%;object-fit: cover;background-color: #fff;}
.win_popup select{width:100%;}
.win_popup .textarea{height:222px;margin-top:40px;margin-left: -12px;margin-right: -12px; border-top: 1px solid #E7EBEE;}
.txt_msg{margin-top:8px;color:var(--point);}



/*loading*/
.loading_wrap{position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.8);z-index: 1001;}
.loading_layer{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.dot_flashing {position: relative;width: 12px;height: 12px;border-radius: 6px;background-color: #267DFF;color: #267DFF;animation: dot_flashing 0.5s infinite linear alternate;animation-delay: 0.2s;}
.dot_flashing::before, .dot_flashing::after {content: "";display: inline-block;position: absolute;top: 0;}
.dot_flashing::before {left:-24px;width: 12px;height: 12px;border-radius:6px;background-color: #267DFF;color: #267DFF;animation: dot_flashing 0.5s infinite alternate;animation-delay: 0.35s;}
.dot_flashing::after {left:24px;width: 12px;height: 12px;border-radius: 6px;background-color: #267DFF;color: #267DFF;animation: dot_flashing 0.5s infinite alternate;animation-delay: 0.5s;}

@keyframes dot_flashing  {
    0% {
        background-color: #267DFF;
    }
    50% {
        background-color: rgba(38, 125, 255, 0.6)
    }
    100% {
        background-color:rgba(38, 125, 255, 0.3)
    }
}
