@charset "utf-8";
:root{
    --point : #267DFF;
}

/*title*/
.bdr{border-bottom:1px solid #E7EBEE;margin-bottom:12px;}
.title h2{font-size:16px;font-weight:600;padding:10px 0;}
.tit_wrap{display:flex;align-items:center;justify-content:space-between;}
.tit_wrap .tit_area,.tit_wrap .btn_area{display:inline-flex;column-gap:8px;align-items:center;}


/*login*/
.container.login{position:relative;background:url('../images/login_bg.png') no-repeat;background-size:cover;display: flex;align-items: center;margin-top:0;height: 100%;}
.login::before{content:'';position:absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);}
.login_wrapper{width:850px;margin:0 auto;padding: 100px 0;z-index: 1;}
.login_logo{text-align: center;margin-bottom:32px;}
.login_area{display:flex;column-gap:32px;padding:64px;background:#fff;}
.login_area .log_img{width:390px;}
.log_area{display:flex;flex-direction:column;justify-content: space-between;width:calc(100% - 422px);}
.log_area .heading_area{margin-bottom:32px;}
.log_area .heading_area .tit{font-size:24px;font-weight:700;line-height: 1;}
.log_area .form .radio_list input{color:#213A56;}
.log_area .form .input_list{margin:16px 0}
.log_area .form .login_etc{display:flex;align-items:center;justify-content:space-between;}
.log_area .form .login_etc .find_wrap{display:flex;column-gap:12px;}
.log_area .form .login_etc .find_wrap li a{font-size:12px;color:var(--point);text-decoration:underline;}
.btn_login_wrap .btn{width:100%;}
.function_wrap{margin-top:32px;}
.function_wrap h3{font-size:16px;font-weight:600;line-height:19px;margin-bottom:16px;}
.function_wrap .form_item{display:flex;align-items:center;}
.function_wrap .form_item .form_label{font-size:12px;font-weight:700;color:#213A56;margin-right:10px;}
.function_wrap .form_item .form_control{display:flex;align-items:center;gap:4px;}
.function_wrap .form_item .form_control .inputbox input{width:170px;}
.function_wrap .form_item .form_control .btn{padding:0px 5px;width: 90px;}
.function_wrap .time_area{margin-top:8px;padding-left:36px;font-size:12px;font-weight:500;color:var(--point);}


/*main*/
.period{display:flex;align-items:center;column-gap: 12px;}
.period .radio_list{display:flex;align-items:center;column-gap:4px;margin-left: 20px;}
.range {display: inline-block;position: relative;line-height: 1;}
.range input{position: absolute;left: -9999px;}
.range label{display: inline-block;min-width:80px;border:1px solid #DCE0E5;border-radius:4px;padding:9px 12px;box-sizing: border-box;text-align:center;font-weight: 400;vertical-align: top;word-break: break-all;cursor: pointer;}
.range input:checked+label{background: #E9F2FF;color: var(--point);border-color:var(--point);}